<!--
    ---------------------------------------------------------------
    Archivo:        expertos-form.component.html
    Descripción:    Plantilla HTML del formulario para la creación y edición de Expertos en Evaluación de Riesgos (EER).
                    Utiliza Reactive Forms con validaciones y permite gestionar los campos básicos del experto: nombre,
                    apellidos y estado de actividad.
    Autor:          Eugenio Blanco Fernández
    Universidad:    Universitat Oberta de Catalunya (UOC)
    Título Máster:  Máster Universitario en Desarrollo de sitios y
                    aplicaciones Web
    Proyecto:       TFM - Sistema de Gestión de Expedientes Digitales (GSXPD)
    Fecha creación: 07/03/2026
    Última modif.:  10/04/2026

    Detalles:
      - Incluye el componente reutilizable <app-boton-volver> para regresar al área de Configuración.
      - Implementa Reactive Forms con validaciones por campo y mensajes de error contextuales.
      - Permite activar o desactivar un experto mediante un checkbox.
      - Presenta botones de acción para guardar los cambios o cancelar la operación.
    ---------------------------------------------------------------
-->
<mat-card class="mat-elevation-z2"><!-- Tarjeta PANEL EXPERTOS (EER) -->
    <!-- BOTÓN VOLVER a configuración -->
    <button mat-raised-button color="primary" routerLink="/configuracion" class="btn-volver">
        <mat-icon>arrow_back</mat-icon>
        Volver a Configuración
    </button>

    <mat-card-title><!-- TÍTULO -->
        <strong>{{ editando ? 'Editar experto (EER)' : 'Crear Nuevo experto (EER)' }}</strong>
    </mat-card-title>

    <mat-divider></mat-divider><!-- separador entre 2 elementos -->

    <!-- FORMULARIO EN VERTICAL -->
    <form [formGroup]="form" (ngSubmit)="guardar()" class="form-vertical">
        <!-- Nombre EXPERTO (EER) -->
        <mat-form-field appearance="outline">
            <mat-label>Nombre de Experto (EER)</mat-label>
            <input matInput formControlName="nombre">
            @if (form.get('nombre')?.invalid && form.get('nombre')?.touched) {
            <mat-error>El nombre de Experto (EER) es obligatorio</mat-error>
            }
        </mat-form-field>

        <!-- Apellidos EXPERTO (EER) -->
        <mat-form-field appearance="outline">
            <mat-label>Apellidos de Experto (EER)</mat-label>
            <input matInput formControlName="apellidos">
            @if (form.get('apellidos')?.invalid && form.get('apellidos')?.touched) {
            <mat-error>Apellidos del Experto (EER) es obligatorio</mat-error>
            }
        </mat-form-field>

        <!-- BOTONES Guardar / Cancelar -->
        <div class="grid-config">
            <button mat-raised-button color="primary" [disabled]="form.pristine || form.invalid" type="submit">
                {{ editando ? 'Guardar cambios' : 'Crear Experto (EER)' }}
            </button>
            <button mat-button type="button" (click)="volver()">
                Cancelar
            </button>
        </div>

    </form><!-- Fin de FORMULARIO EN VERTICAL -->

</mat-card><!-- Fin Tarjeta PANEL EXPERTOS (EER) -->