$color-primary : --mat-sys-on-primary-fixed-variant;
$color-second: rgb(46, 46, 46);
$color-warn: #991c1c;;

.buscador {
    width: 80%;
    margin: 20px 0;
}

.tabla-usuarios {
    width: 100%;
    margin-top: 10px;
}

mat-header-cell {
    font-weight: bold;
}

mat-icon {
    font-size: 20px;
}

/* Cabecera con fondo azul original */
.fondo_gris {
    background-color: var($color-primary) !important;
    color: white;
}

.rojo {
    color: $color-warn;
}

.btn-volver {
    text-transform: none;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: fit-content;
}

mat-card {
    width: 70%;
    margin-top: 5%;
}

.paginacion {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}

.paginacion button {
    text-transform: none;
    display: flex;
    align-items: center;
    gap: 6px;
}

.pagina-info {
    font-weight: 500;
    color: var(--mat-sys-on-primary-fixed-variant);
}
