<!--
    ---------------------------------------------------------------
    Archivo:        expediente-informe-organizativa.component.html
    Descripción:    Plantilla HTML del informe de Expedientes según su Unidad Organizativa. Permite seleccionar una
                    unidad, filtrar los expedientes asociados y mostrar la información en formato tabular, con
                    opciones para imprimir o descargar el informe.
    Autor:          Eugenio Blanco Fernández
    Universidad:    Universitat Oberta de Catalunya (UOC)
    Título Máster:  Máster Universitario en Desarrollo de sitios y
                    aplicaciones Web
    Proyecto:       TFM - Sistema de Gestión de Expedientes Digitales (GSXPD)
    Fecha creación: 07/03/2026
    Última modif.:  10/04/2026

    Detalles:
      - Incluye el componente reutilizable <app-boton-volver> para regresar al panel principal.
      - Permite seleccionar la Unidad Organizativa mediante un desplegable enlazado con ngModel, actualizando los resultados al cambiar la selección.
      - Muestra una tabla con los expedientes filtrados, incluyendo información clave: actuación, subactuación, actuación particular, fecha e identificación de titularidad.
      - Utiliza funciones auxiliares del componente TypeScript para obtener nombres descriptivos (Unidad Organizativa, Titularidad).
      - Incluye controles para imprimir o descargar el informe en PDF.
      - Muestra mensajes de estado cuando no existen datos o cuando los informes están en proceso de carga.
    ---------------------------------------------------------------
-->
<p>expediente-informe-organizativa works!</p>
<!--
<app-boton-volver ruta="/panel"></app-boton-volver>
-->
<button type="button" (click)="volver_panel()">&larr; Volver al panel Informe</button>

<h2 class="no-print">Informes de Expedientes por Unidad Organizativa: {{ getNombreUOrganizativaporId(unidadorganizativaSeleccionado) }}</h2>

<label class="no-print">Informes de Expedientes según su Undiad Organizativa: </label>
<select class="no-print" [(ngModel)]="unidadorganizativaSeleccionado" (change)="filtrarPorUnidadOrganizativa()">
    <option [ngValue]="null">-- Selecciona Unidad Organizativa--</option>
    @for (t of unidades; track t.id) {
    <option [ngValue]="t.id">
        {{ t.nombre_UnidadOrganizativa }}
    </option>
    }
</select>

<hr class="no-print">

<div id="informe">
    @if (expedientes.length > 0) {
    <table class="tabla-cuadricula">
        <thead>
            <tr>
                <th>Actuación</th>
                <th>Subactuación</th>
                <th>Actuación particular</th>
                <th>Fecha</th>
                <th>Titularidad</th>
            </tr>
        </thead>

        <tbody>
            @for (exp of expedientes; track exp.id) {
            <tr>
                <td>{{ exp.nombre_Actuacion }}</td>
                <td>{{ exp.nombre_Subactuacion }}</td>
                <td>{{ exp.nombre_Actuacion_Particular }}</td>
                <td>{{ exp.nombre_IPA_Fecha | date:'dd/MM/yyyy' }}</td>
                <td>{{ getNombreTitular(exp) }}</td>
            </tr>
            }
        </tbody>
    </table>
    <!-- BOTONES FUERA DE LA TABLA -->
    <div class="no-print botones-pdf">
        <button (click)="imprimir()">Imprimir / Guardar PDF</button>
        <button (click)="descargarPDF()">Descargar PDF</button>
    </div>
    }
</div>

@if (expedientes.length === 0 && !cargando) {
<div>No existen informes de Expedientes de Riesgos con ese nombre de Unidad Organizativa.</div>
}
@if (cargando) {
<div>Cargando informes...</div>
}