<!--
    ---------------------------------------------------------------
    Archivo:        evaluador-form.html
    Descripción:    Plantilla HTML del formulario para la creación y edición de Evaluadores (AsBo). 
                    Incluye controles de entrada validados mediante Reactive Forms, selección de país, 
                    mensajes de error y botones de acción para guardar o cancelar la operación.
    Autor:          Eugenio Blanco Fernández
    Universidad:    Universitat Oberta de Catalunya (UOC)
    Título Máster:  Máster Universitario en Desarrollo de sitios y
                    aplicaciones Web
    Proyecto:       TFM - Sistema de Gestión de Expedientes Digitales (GSXPD)
    Fecha creación: 07/03/2026
    Última modif.:  10/04/2026

    Detalles:
      - Utiliza el componente reutilizable <app-boton-volver> para regresar al área de Configuración.
      - Muestra dinámicamente el título según si se está creando o editando un Evaluador (AsBo).
      - Implementa Reactive Forms con validaciones por campo y mensajes de error contextuales.
      - Incluye un selector de país cargado dinámicamente mediante directiva @for.
      - Presenta botones de acción para guardar los cambios o cancelar la operación.
    ---------------------------------------------------------------
-->
<p>evaluador-form works!</p>
<!--
<app-boton-volver ruta="/configuracion"></app-boton-volver>
      -->
<button type="button" (click)="volver_panel()">&larr; Volver al panel</button>

<h2>{{ editando ? 'Editar Evaluador (AsBo)' : 'Insertar Nuevo Evaluador (AsBo)' }}</h2>

<form [formGroup]="form" (ngSubmit)="guardar()" class="tabla-cuadricula">

    <div class="form-item">
        <label>Nombre del Evaluador (AsBo) </label>
        <input formControlName="nombre" />
        @if (form.get('nombre')?.invalid && form.get('nombre')?.touched) {
        <small class="error">El nombre del Evaluador (AsBo) es obligatorio</small>
        }
    </div>

    <!--
    <label>País</label>
    <input formControlName="pais" />
    @if (form.get('pais')?.invalid && form.get('pais')?.touched) {
    <small class="error">Selección de país es obligatorio</small>
    }
    -->
    <div class="form-item">
    <label for="pais">País</label>
    <select id="pais" formControlName="pais" class="form-control">
        <option value="">Seleccione un país</option>
        @for (p of paises; track p.id) {
        <option [value]="p.nombre_Paises">
            {{ p.nombre_Paises }}
        </option>
        }
    </select>
    @if (form.get('pais')?.invalid && form.get('pais')?.touched) {
    <small class="error">Selección de país es obligatorio</small>
    }
    </div>

    <div class="form-item">
    <label>Dirección </label>
    <input formControlName="direccion" />
    @if (form.get('direccion')?.invalid && form.get('direccion')?.touched) {
    <small class="error">La dirección del Evaluador (AsBo) es obligatoria</small>
    }
    </div>

    <div class="form-item">
    <label>C&oacute;digo postal </label>
    <input formControlName="postal" />
    @if (form.get('postal')?.invalid && form.get('postal')?.touched) {
    <small class="error">El Código postal del Evaluador (AsBo) es obligatorio</small>
    }
    </div>

    <div class="form-item">
    <label>Ciudad </label>
    <input formControlName="ciudad" />
    @if (form.get('ciudad')?.invalid && form.get('ciudad')?.touched) {
    <small class="error">La ciudad del Evaluador (AsBo) es obligatoria</small>
    }
    </div>

    <div class="form-item">
    <label>Teléfono/Móvil </label>
    <input formControlName="telefono" />
    @if (form.get('telefono')?.invalid && form.get('telefono')?.touched) {
    <small class="error">El Teléfono/Móvil del Evaluador (AsBo) es obligatorio</small>
    }
    </div>

    <div class="form-item">
        <label>Email</label>
        <input formControlName="email" />
        @if (form.get('email')?.hasError('required') && form.get('email')?.touched) {
        <small class="error">Email del Evaluador (AsBo) es obligatorio</small>
        }
        @if (form.get('email')?.hasError('email') && form.get('email')?.touched) {
        <small class="error">El formato del Email del Evaluador (AsBo) no es válido</small>
        }
    </div>
   
    <div class="form-item">
    <label>Contacto </label>
    <input formControlName="contacto" />
    @if (form.get('contacto')?.invalid && form.get('contacto')?.touched) {
    <small class="error">El contacto del Evaluador (AsBo) es obligatorio</small>
    }
    </div>

    <div class="form-item">
    <label>Web del Evaluador </label>
    <input formControlName="web" />
    @if (form.get('web')?.invalid && form.get('web')?.touched) {
    <small class="error">Web del Evaluador (AsBo) es obligatorio</small>
    }
    </div>

    <div class="botones">
        <button type="submit" [disabled]="form.invalid">Guardar</button>
        <button type="button" (click)="volver()">Cancelar</button>
    </div>
</form>