.snackbar-exito {
    background: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    font-weight: 500;
}

.snackbar-error {
    background: var(--mat-sys-error);
    color: var(--mat-sys-on-error);
    font-weight: 600;
}
