<p>cambio-form works!</p>
<!--
<app-boton-volver ruta="/configuracion"></app-boton-volver>
-->
<button type="button" (click)="volver_panel()">&larr; Volver al panel</button>

<h2>{{ editando ? 'Editar el tipo de Cambio' : 'Insertar Nuevo tipo de Cambio' }}</h2>

<form [formGroup]="form" (ngSubmit)="guardar()">

    <label>Nombre del tipo de Cambio </label>
    <input formControlName="nombre" />
    @if (form.get('nombre')?.invalid && form.get('nombre')?.touched) {
    <small class="error">El nombre del tipo de Cambio es obligatorio</small>
    }

    <button type="submit" [disabled]="form.invalid">Guardar</button>
    <button type="button" (click)="volver()">Cancelar</button>
</form>